{% extends 'shop/base.html' %}
{% block title %}Cancel order{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex flex-column gap-4">
        <h1>Cancelar orden</h1>
        <form class="d-flex flex-column gap-4" method="POST">
            {% csrf_token %}
            <div class="row g-4">
                <div>
                    <label class="form-label" for="motive">Motivo de cancelación</label>
                    <select class="form-select" name="motive" id="motive">
                        {% for i in motives %}<option value="{{ i.id_motivo }}">{{ i }}</option>{% endfor %}
                    </select>
                </div>
                <div>
                    <label class="form-label" for="desc">Descripción</label>
                    <textarea class="form-control" id="desc" name="desc" aria-label="desc"></textarea>
                </div>
                <div class="w-100">
                    <button class="btn btn-outline-danger" type="submit">Solicitar cancelación</button>
                    {% if item_requests %}
                        <a href="{% url 'cancel_requests' %}">Tienes solicitudes para esta orden, revisa su estado aquí</a>
                    {% endif %}
                </div>
            </div>
            <div class="table-responsive">
                <h2 class="mb-4">Selecciona los productos a cancelar</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in order_items %}
                            <tr>
                                <td>
                                    <input class="form-check-input mt-0"
                                           type="checkbox"
                                           name="items"
                                           id="{{ i.id_producto }}"
                                           value="{{ i.id_producto }}">
                                </td>
                                <td>{{ i.id_producto.get_name }}</td>
                                <td>${{ i.precio }}</td>
                                <td>{{ i.cantidad }}</td>
                                <td>${{ i.total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    {% include 'shop/paginator.html' %}
{% endblock %}
