{% extends 'shop/base.html' %}
{% block title %}Order{% endblock %}

{% block content %}

<h1>Solicitud N°{{nc.nro_nota_credito}}</h1>
<hr>
<h5>Total: ${{nc.total}}</h5>
<h5>Fecha de emisión: {{nc.fecha}}</h5>
<h5>Estado: {{nc.id_estado}}</h5>
<h5>Motivo: {{nc.id_motivo}}</h5>
<h5>Descripción: {{nc.descripcion}}</h5>

<hr>

<h1>Detalle</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for i in items %}
            <tr>
                <td>{{ i.id_producto.get_name }}</td>
                <td>${{ i.precio }}</td>
                <td>{{ i.cantidad }}</td>
                <td>${{ i.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}