{% extends 'shop/base.html' %}
{% block title %}Order{% endblock %}
{% load static %}
{% block content %}
    <div class="d-flex flex-column gap-4">
        <h1>
            Orden de compra N°{{ order.nro_orden }} - <strong>{{ order.id_estado }}</strong>
        </h1>
        <div>
            <p>Total: ${{ order.total }}</p>
            <p>Fecha de emisión: {{ order.fecha }}</p>
            <p>Delivery: {{ delivery }}</p>
        </div>
        <div>
            {% if recibo %}
                <a class="btn btn-outline-secondary"
                   href="{% url 'render_pdf' order.nro_orden %}">Descargar recibo</a>
            {% endif %}
            <a class="btn btn-outline-danger"
               href="{% url 'cancel_order' order.nro_orden %}">Cancelar orden</a>
        </div>
    </div>
    <div class="d-flex flex-column gap-4">
        <h2>Detalle</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in order_items %}
                        <tr>
                            <td>{{ i.id_producto.get_name }}</td>
                            <td>${{ i.precio }}</td>
                            <td>{{ i.cantidad }}</td>
                            <td>${{ i.total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if nc %}
            <div class="row align-items-center">
                <div class="col-12">
                    <h1>Solicitudes asociadas a esta orden</h1>
                </div>
                <div class="col-lg-6">
                    {% for i in nc_items %}<p class="lead">{{ i }}</p>{% endfor %}
                    <a class="btn btn-outline-secondary" href="{% url 'cancel_requests' %}">Tus solicitudes</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
