{% extends 'employees/base.html' %}
{% block title %}Admin brands{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row align-items-center">
        <div class="col">
            <h1>Gestión de marcas</h1>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-dark float-left"
               style="height: min-content"
               href="{% url 'brand_create' %}">Registrar nueva marca</a>
        </div>
    </div>
    <div class="row">
        <form class="form-inline" method="GET">
            {{ brands_filtered.form|crispy }}
            <button type="submit" class="btn btn-outline-dark">Filtrar</button>
            <a class="btn btn-outline-danger" href="{% url 'brands' %}">Limpiar filtros</a>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Marca</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for i in entity %}
                    <tr>
                        <td>{{ i.marca }}</td>
                        <td>
                            <a class="btn btn-outline-dark"
                               href="{% url 'brand_modify' i.id_marca %}">Modificar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'shop/paginator.html' %}
{% endblock content %}
