<html>
    <head>
    </head>

<body>
    <h1>Tu solicitud N°{{nc.nro_nota_credito}} ha sido enviada</h1>
    <p>Tendrás respuesta dentro de 72hr hábiles.</p>
    <br>
    <p>Motivo: {{ nc.id_motivo }}</p>
    <p>Estado: {{ nc.id_estado }}</p>
    <p>Descripción: {{ nc.descripcion }}</p>
    <p>Total: ${{nc.total}}</p>
    <p>Fecha: {{nc.fecha}}</p>
    <p>Orden asociada: {{nc.nro_orden}}</p>
    <br>

    <h2>Detalle</h2>
    {% for i in items %}
    <ul>
        <li>
            <p>{{ i.id_producto.get_name }} ${{ i.precio }} (x{{ i.cantidad }}), total ${{ i.total }} </p>
        </li>
    </ul>
    {% endfor %}
          

</body>

</html>