{% extends 'app/base.html' %}
{% block title %}Order{% endblock %}
{% load static %}

{% block contenido %}

<a class="btn btn-primary" href="{% url 'profile' %}#compras">
    <i class="bi bi-caret-left-fill"></i>            
    Volver a compras
</a>

<br><br>

<h1>Orden de compra N°{{order.nro_orden}}</h1>
<br>
<h5>Fecha de emisión: {{order.fecha}}</h5>
<h5>Total: ${{order.total}}</h5>

<br>
<a class="btn btn-secondary" href="#">Descargar recibo</a>
<br><hr><br>

<h1>Detalle</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for i in order_items %}
            <tr>
                <td>{{ i.id_producto }}</td>
                <td>{{ i.cantidad }}</td>
                <td>${{ i.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock contenido %}