{% extends 'app/base.html' %}
{% block title %}Perfil{% endblock %}

{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}

<div class="container">

    <div class="row">
        <div class="col-sm text-center">
            <h1>Perfil {{user.username}}</h1>
        </div>
    </div>

    <div class="card p-5">
        <div class="row">
            <div class="col-sm">
                <h3>Datos personales:</h3>
                <h5>Nombre de usuario: {{ user.username }}</h5>
                <h5>Nombre: {{ user.first_name }}</h5>
                <h5>Apellido: {{ user.last_name }}</h5>
                <h5>Email: {{ user.email }}</h5>
                <h5>Rut: {{ profile.rut_persona }}</h5>
                <h5>Celular: {{ profile.celular }}</h5>
                <a class="btn btn-primary float-left" href="{% url 'profile_modify'%}">Modificar</a>
            </div>

            <div class="col-sm">
                {% if not domicilio %}
                <h3>Registra tu domicilio:</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">Registrar</button>
                </form>
                {% endif %}
                {% if domicilio %}
                <h3>Domicilio:</h3>
                <h5>Comuna: {{ domicilio.id_comuna }}</h5>
                <h5>Calle: {{ domicilio.calle }}</h5>
                <h5>Nro: {{ domicilio.nro }}</h5>
                    {% if domicilio.nro_departamento %}
                        <h5>Nro departamento: {{ domicilio.nro_departamento }}</h5>
                    {% endif %}
                <a class="btn btn-primary float-left" href="">Modificar</a>
                            

                {% endif %}

            </div>
        </div>

    </div>
    
</div>


{% endblock %}