{% extends 'shop/base.html' %}
{% block title %}Perfil{% endblock %}

{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-sm">
        <h1 class="text-center">Perfil {{user.username}}</h1>
    </div>
</div>

<br>

<div class="card p-5">
    <div class="row" style="gap: 1rem;">
        <div class="col-sm">
            <h3>Datos personales</h3>
            <hr>
            <h5>Nombre de usuario: {{ user.username }}</h5>
            <h5>Nombre: {{ user.first_name }}</h5>
            <h5>Apellido: {{ user.last_name }}</h5>
            <h5>Email: {{ user.email }}</h5>
            <h5>Rut: {{ profile.rut_persona }}</h5>
            <h5>Celular: {{ profile.celular }}</h5>
            <br>
            <a class="btn btn-primary float-left" href="{% url 'profile_modify'%}">Modificar</a>
        </div>

        {% if provider %}
        <div class="col-sm">
            <h3>Datos proveedor</h3>
            <hr>
            <h5>Id: {{ provider.id_proveedor }}</h5>
            <h5>Empresa: {{ provider.nombre_empresa }}</h5>
            <h5>Rubro: {{ provider.id_rubro }}</h5>
            <br>
            <a class="btn btn-primary float-left" href="{% url 'provider_modify' %}">Modificar</a>
        </div>
        {% endif %}
        
        <div class="col-sm">
            <h3>Domicilio</h3>
            <hr>
            {% if not profile %}
            <p>*Tu perfil no se encuentra completo, por favor llena los datos de tu perfil o contacta a un
                administrador.*</p>
            {% endif %}

            {% if not domicilio and profile %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button class="btn btn-primary float-left" type="submit">Registrar</button>
            </form>
            {% endif %}

            {% if domicilio %}
            <h5>Tipo: {{ domicilio.id_tipo_domicilio }}</h5>
            <h5>Comuna: {{ domicilio.id_comuna }}</h5>
            <h5>Calle: {{ domicilio.calle }}</h5>
            <h5>Nro: {{ domicilio.nro }}</h5>
            {% if domicilio.nro_departamento %}
            <h5>Nro departamento: {{ domicilio.nro_departamento }}</h5>
            {% endif %}
            <br>
            <a class="btn btn-primary float-left" href="{% url 'adress_modify' %}">Modificar</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}