{% extends 'shop/base.html' %}
{% block title %}Perfil{% endblock %}

{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}


<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <h2>Editar perfil de usuario</h2>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                {{ profile_form|crispy }}
                <br>
                <input type="submit" value="Guardar" class="btn btn-primary float-right">
            </form>
        </div>
    </div>
</div>

{% endblock %}