{% extends 'shop/base.html' %}
{% block title %}Perfil{% endblock %}

{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <h2>Editar datos de proveedor</h2>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <a class="btn btn-secondary float-right" href="{% url 'profile' %}">Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary float-right">
            </form>
        </div>
    </div>
</div>

{% endblock %}