{% extends 'employees/base.html' %}
{% block title %}Admin motives{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-4">{{ title }}</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="mt-4 w-100">
                    <a class="btn btn-outline-danger float-left" href="{% url 'motives' %}">Cancelar</a>
                    <button type="submit" class="btn btn-dark float-left">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
