{% extends 'employees/base.html' %}
{% block title %}Solicitud de productos{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row align-items-center">
    <div class="col">
        <h1>Gestión de productos Ferme</h1>
    </div>
    <div class="col d-flex justify-content-end">
        <a class="btn btn-outline-primary float-left" style="height: min-content;" href="{% url 'product_create' %}">Registrar nuevo producto</a>
    </div>
</div>

<br><hr>
<div class="row">
    <form class="form-inline" method="GET">
        {{ productosFiltered.form|crispy }}
        <br>
        <button type="submit" class="btn btn-outline-primary">Filtrar</button>
        <a class="btn btn-outline-secondary" href="{% url 'product_management' %}">Limpiar filtros</a>
    </form>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Stock crítico</th>
                <th scope="col">Tipo producto</th>
                <th scope="col">Marca</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha vencimiento</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in productos %}
            <tr>
                <td>{{ i.producto }}</td>
                <td>${{ i.precio }}</td>
                <td>{{ i.stock }}</td>
                <td>{{ i.stock_critico }}</td>
                <td>{{ i.id_tipo_producto }}</td>
                <td>{{ i.id_marca }}</td>
                <td>{{ i.id_proveedor }}</td>
                <td>{{ i.fecha_vencimiento }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'product_modify' i.id_producto %}">Modificar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock content %}