{% extends 'employees/base.html' %}
{% block title %}Modificar producto{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-4">Modificar producto</h2>
            <form class="row row-cols-lg-2" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="mt-4 w-100">
                    <a class="btn btn-outline-danger float-left"
                       href="{% url 'product_management' %}">Cancelar</a>
                    <button type="submit" class="btn btn-dark float-left">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
