{% extends 'employees/base.html' %}
{% block title %}Estado solicitud{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Estado solicitud de productos</h1>
    <div class="row">
        <form class="form-inline" method="GET">
            {{ ordersFiltered.form|crispy }}
            <button type="submit" class="btn btn-outline-secondary">Filtrar</button>
            <a class="btn btn-outline-danger" href="{% url 'orders_to_provider' %}">Limpiar filtros</a>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">N° orden</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for i in entity %}
                    <tr>
                        <td id="nro_orden">{{ i.nro_orden }}</td>
                        <td>{{ i.id_proveedor }}</td>
                        <td>{{ i.id_estado }}</td>
                        <td>{{ i.fecha }}</td>
                        <td>${{ i.total }}</td>
                        <td>
                            <a class="btn btn-outline-secondary float-left"
                               href="{% url 'order_provider' i.nro_orden %}">Ver
                            detalle</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'shop/paginator.html' %}
{% endblock %}
