{% extends 'app/base.html' %}
{% block title %}Solicitud de productos{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}

<h1 class="text-center">Gestión de productos</h1>

<div class="container card">
    <div class="row">
        <div class="col">
            <h2>Filtrar productos</h2>
            <form method="GET">
                {{ productosFiltered.form | crispy }}
                <br>
                <button type="submit" class="btn btn-primary float-left">Filtrar</button>
                <a class="btn btn-danger float-left" href="{% url 'product_management' %}">Limpiar filtros</a>
            </form>
        </div>

        <div class="col">
            <h2>Registrar nuevo producto</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="btn btn-primary float-left">Guardar</button>
            </form>
        </div>
    </div>
</div>

<br>
<h1 class="text-center">Listado de productos</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Stock crítico</th>
                <th scope="col">Tipo producto</th>
                <th scope="col">Marca</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha vencimiento</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in productos %}
            <tr>
                <td>{{ i.producto }}</td>
                <td>${{ i.precio }}</td>
                <td>{{ i.stock }}</td>
                <td>{{ i.stock_critico }}</td>
                <td>{{ i.id_tipo_producto }}</td>
                <td>{{ i.id_marca }}</td>
                <td>{{ i.id_proveedor }}</td>
                <td>{{ i.fecha_vencimiento }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'product_modify' i.id_producto %}">Modificar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}