{% extends 'employees/base.html' %}
{% block title %}Admin{% endblock %}
{% load static %}
{% block content %}
    <div>
        <h1>Administrador Ferme</h1>
        <p>
            Bienvenido {{ request.user.first_name }}, dentro de ésta sección podrás administrar los registros de la base de datos,
            además podrás otorgar privilegios a los usuarios registrados anexando su rol dentro o fuera de la empresa Ferme.
        </p>
    </div>
    <div class="d-flex flex-column gap-2">
        <h5>¿Qué deseas administrar?</h5>
        <div class="d-flex gap-4">
            <div>
                <a class="btn btn-dark" href="{% url 'admin_users' %}">Usuarios</a>
            </div>
            <div>
                <a class="btn btn-dark" href="{% url 'brands' %}">Marcas</a>
            </div>
            <div>
                <a class="btn btn-dark" href="{% url 'categories' %}">Familia Producto</a>
            </div>
            <div>
                <a class="btn btn-dark" href="{% url 'subcategories' %}">Tipo Producto</a>
            </div>
            <div>
                <a class="btn btn-dark" href="{% url 'areas' %}">Rubros Proveedor</a>
            </div>
            <div>
                <a class="btn btn-dark" href="{% url 'motives' %}">Motivos Cancelación</a>
            </div>
        </div>
    </div>
{% endblock content %}
