{% extends 'employees/base.html' %}
{% block title %}Admin{% endblock %}
{% load static %}

{% block content %}
<h1>Administrador Ferme</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores rem accusamus labore alias facere veritatis ratione non natus sunt, ullam deleniti facilis aspernatur. Ut totam vitae illo dignissimos quam voluptates!</p>
<hr>

<h5>¿Qué deseas administrar?</h5>
<div class="row admin">
    <div class="d-grid col-4">
        <a class="btn btn-outline-dark" href="{% url 'admin_users' %}">
            <h1 class="fw-bold">Usuarios</h1>
        </a>
    </div>

    <div class="d-grid col-4">
        <a class="btn btn-outline-dark" href="{% url 'brands' %}">
            <h1 class="fw-bold">Marcas</h1>
        </a>
    </div>

    <div class="d-grid col-4">
        <a class="btn btn-outline-dark" href="{% url 'categories' %}">
            <h1 class="fw-bold">Familia Producto</h1>
        </a>
    </div>
    
    <div class="d-grid col-4">
        <a class="btn btn-outline-dark" href="{% url 'subcategories' %}">
            <h1 class="fw-bold">Tipo Producto</h1>
        </a>
    </div>

    <div class="d-grid col-4">
        <a class="btn btn-outline-dark" href="{% url 'areas' %}">
            <h1 class="fw-bold">Rubros Proveedor</h1>
        </a>
    </div>
</div>


{% endblock content %}