{% extends 'employees/base.html' %}
{% block title %}Admin{% endblock %}
{% load static %}

{% block content %}
<h1>Administrador Ferme</h1>
<p>
    Bienvenido {{request.user.first_name}}, dentro de ésta sección podrás administrar los registros de la base de datos, además podrás otorgar privilegios a los usuarios registrados anexando su rol dentro o fuera de la empresa Ferme.
</p>
<hr>

<h5>¿Qué deseas administrar?</h5>
<div class="row admin">
    <div class="d-grid col-4">
        <a class="btn btn-outline-dark" href="{% url 'admin_users' %}">
            <h1 class="fw-bold">Usuarios</h1>
        </a>
    </div>

    <div class="d-grid col-4">
        <a class="btn btn-outline-dark" href="{% url 'brands' %}">
            <h1 class="fw-bold">Marcas</h1>
        </a>
    </div>

    <div class="d-grid col-4">
        <a class="btn btn-outline-dark" href="{% url 'categories' %}">
            <h1 class="fw-bold">Familia Producto</h1>
        </a>
    </div>
    
    <div class="d-grid col-4">
        <a class="btn btn-outline-dark" href="{% url 'subcategories' %}">
            <h1 class="fw-bold">Tipo Producto</h1>
        </a>
    </div>

    <div class="d-grid col-4">
        <a class="btn btn-outline-dark" href="{% url 'areas' %}">
            <h1 class="fw-bold">Rubros Proveedor</h1>
        </a>
    </div>
</div>


{% endblock content %}