{% extends 'shop/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-4">Iniciar sesión</h2>
            <form action="" method="post" class="row row-cols-lg-2">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="w-100 mt-4">
                    <input type="submit" value="Ingresar" class="btn btn-dark float-right">
                    <a href="{% url 'register' %}">Registrarse</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
