{% extends 'shop/base.html' %}
{% block title %}Registrarse{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-4">Registro de usuario</h2>
            <form method="POST" class="row row-cols-lg-2">
                {% csrf_token %}
                {{ form | crispy }}
                {{ profile_form | crispy }}
                <div class="w-100 mt-4">
                    <input type="submit" value="Registrarse" class="btn btn-dark float-right">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
