{% extends 'shop/base.html' %}
{% block title %}Carro{% endblock %}
{% load static %}

{% block content %}

<div class="row d-flex align-items-center">
    <div class="col">
        <h1>Carro de compra</h1>
    </div>
    <div class="col">
        {% if user.is_authenticated and order.get_cart_total > 0 and profile %}
        <a style="float:right;" class="btn btn-success" href="{% url 'checkout' %}">Continuar</a>
        {% elif not user.is_authenticated %}
        <h5 class="text-end">Inicia sesión para continuar con la compra</h5>
        {% elif order.get_cart_total == 0 %}
        <h5 class="text-end">Agrega productos al carro</h5>
        {% elif not profile %}
        <h5 class="text-end">Completa tu perfil para continuar</h5>
        <a style="float:right; margin:5px;" class="btn btn-outline-dark" href="{% url 'profile' %}">Ir a perfil</a>
        {% endif %}
    </div>
</div>

<hr>



<h5>Total:<strong> ${{order.get_cart_total}}</strong></h5>
</th>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
                <th scope="col">Stock disponible</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for i in items %}
            <tr>
                <td><a class="link-dark" href="{% url 'product' i.product.id %}">{{ i.product.name }}</a></td>
                <td>${{ i.product.price }}</td>
                <td>${{ i.get_total }}</td>
                <td>{{ i.product.stock }}</td>
                <td>
                    {{ i.quantity }}
                    <button data-product="{{i.product.id}}" data-action="add"
                        class="btn btn-outline-dark bi bi-caret-up-fill update-cart"></button>
                    <button data-product="{{i.product.id}}" data-action="remove"
                        class="btn btn-outline-dark bi bi-caret-down-fill update-cart"></button>
                    <button data-product="{{i.product.id}}" data-action="delete"
                        class="btn btn-outline-danger bi bi-trash-fill update-cart"></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}