{% extends 'shop/base.html' %}
{% block title %}Checkout{% endblock %}
{% load static %}

{% block content %}

<a class="btn btn-outline-secondary" href="{% url 'cart' %}">
    <i class="bi bi-caret-left-fill"></i>            
    Volver
</a>
<br><br>

<h1>Confirma los datos de tu compra</h1>

<br>

<div class="row">
    <div class="col">
        <div class="col">
            <h5>Total:<strong> ${{order.get_cart_total}}</strong></h5>
        </div>
        <form method="POST">
            {% csrf_token %}
            <select class="form-select" name="tipoDoc" id="">
                {% for i in tipoDoc %}
                <option value="{{i.id_tipo}}">{{i.tipo_documento}}</option>
                {% endfor %}
            </select>
            <br>

            {% if adress %}
            <button class="btn btn-success" type="submit">Confirmar compra</button>
            {% endif %}
        </form>
    </div>
    <div class="col">
        {% if adress %}
        <h5>Delivery:</h5>
        <p>{{ adress.calle }}, {{ adress.nro }}, {{ adress.id_comuna }}</p>

            {% if adress.nro_departamento %}
            <h5>N° departamento: {{ adress.nro_departamento }}</h5>
            {% endif %}

        {% else %}
        <p>No tienes ningún domicilio registrado. Registra uno en tu perfil para poder continuar la compra.</p>
        <a class="btn btn-primary float-left" href="{% url 'profile' %}">Ir a perfil</a>
        {% endif %}
    </div>
</div>

<br>
<hr><br>

<h2>Detalle</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for i in items %}
            <tr>
                <td>{{ i.product.name }}</td>
                <td>${{ i.product.price }}</td>
                <td>${{ i.get_total }}</td>
                <td>{{ i.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock %}