<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">FERME</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse gap-2 justify-content-lg-between"
            id="navbarNavDropdown"
        >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        aria-current="page"
                        href="{% url 'home' %}"
                        >Inicio</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#productos"
                        >Productos</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#nosotros"
                        >Nosotros</a
                    >
                </li>
            </ul>
            <ul class="navbar-nav gap-2">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        {{ user.username }}
                        <i class="bi bi-person-circle"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' %}"
                                >Perfil</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'orders' %}"
                                >Historial de compras</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}"
                                >Cerrar sesión</a
                            >
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        >Dropdown link</a
                    >
                    <ul class="dropdown-menu">
                        <form
                            class="px-4 py-3"
                            method="POST"
                            action="{% url 'login' %}"
                        >
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label"
                                    >Nombre de usuario</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    name="username"
                                />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label"
                                    >Contraseña</label
                                >
                                <input
                                    type="password"
                                    class="form-control"
                                    name="password"
                                />
                            </div>
                            <button type="submit" class="btn btn-dark">
                                Iniciar sesión
                            </button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'register' %}"
                            >¿No tienes cuenta? Regístrate</a
                        >
                    </ul>
                </li>
                {% endif %} {% if user.is_superuser %}
                <li class="nav-item">
                    <a
                        class="btn btn-outline-dark"
                        href="{% url 'admin_home' %}"
                        >Administrador</a
                    >
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="btn btn-dark" href="{% url 'cart' %}">
                        <i class="bi bi-cart"></i>
                        <span>Carro de compra</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
