{% extends 'shop/base.html' %}
{% block title %}{{ family.familia_producto }}{% endblock %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<h1>Productos en {{ family.familia_producto }}</h1>
<hr>

<div class="row">
    <form class="form-inline" method="GET">
        {{ productsFiltered.form|crispy }}
        <br>
        <button type="submit" class="btn btn-outline-dark">Filtrar</button>
        <a class="btn btn-outline-danger" href="{% url 'products' family.id_familia_producto %}">Limpiar filtros</a>
    </form>
</div>

<div class="row">
    {% for i in entity %}
    <div class="col-3">
        {% if i.imagen_url %}
        <img class="thumbnail" src="{{i.imagen_url.url}}">
        {% else %}
        <img class="thumbnail" src="{% static 'shop/img/noimage.png' %}">
        {% endif %}
        <div class="product-text">
            <h6>{{i.id_marca}}</h6>
            <h5><strong>{{i.producto}}</strong></h5>
            <h6 style="display: inline-block">${{i.precio}}</h6>            
            <hr>

            <button data-product={{i.id_producto}} data-action="add" class="btn btn-outline-dark update-cart">
                Agregar al carro
                <i class="bi bi-cart"></i>
            </button>
            <a class="btn btn-outline-dark" href="{% url 'product' i.id_producto %}">Detalles</a>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'shop/paginator.html' %}
{% endblock %}