{% extends 'employees/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Solicitar productos{% endblock %}

{% block content %}

<div class="row align-items-center">
    <div class="col">
        <h1>Solicitar productos a {{provider.nombre_empresa}}</h1>
    </div>
    <div class="col d-flex justify-content-end">
        <a class="btn btn-outline-dark" href="{% url 'order' %}">
            Generar orden
            <i class="bi bi-file-earmark-text"></i>
        </a>
    </div>
</div>
<hr>

<div class="row">
    <form class="form-inline" method="GET">
        {{ products_filtered.form|crispy }}
        <br>
        <button type="submit" class="btn btn-outline-dark">Filtrar</button>
        <a class="btn btn-outline-danger" href="{% url 'products_by_provider' provider.id_proveedor %}">Limpiar
            filtros</a>
    </form>
</div>
<br>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Familia producto</th>
                <th scope="col">Marca</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha vencimiento</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in products %}
            <tr>
                <td>{{ i.id_producto }}</td>
                <td>{{ i.producto }}</td>
                <td>${{ i.precio }}</td>
                <td>{{ i.stock }}</td>
                <td>{{ i.id_tipo_producto.id_familia_producto }}</td>
                <td>{{ i.id_marca }}</td>
                <td>{{ i.id_proveedor }}</td>
                {% if not i.fecha_vencimiento %}
                <td>No aplica</td>
                {% else %}
                <td>{{ i.fecha_vencimiento }}</td>
                {% endif %}

                <td>
                    <button data-product={{i.id_producto}} data-action="add" class="btn btn-outline-dark update-order">
                        Agregar
                        <i class="bi bi-file-earmark-text"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}