{% extends 'employees/base.html' %}
{% load static %}
{% block title %}Solicitar productos{% endblock %}
{% block content %}
    <h1>Selecciona un proveedor</h1>
    <p>
        Dentro de ésta sección, tenemos a los mejores proveedores del país, quienes nos proporcionan los mejores productos
        en toda su gamma disponible. Además cuentan con listas de productos actualizados que te ayudarán a escoger según el
        tipo que necesites.
    </p>
    <div class="row row-cols-md-3">
        {% for i in providers %}
            <a class="card"
               onclick="deleteOrder()"
               href="{% url 'products_by_provider' i.id_proveedor %}">
                <img class="card-img-top" src="{% static 'employees/img/provider.svg' %}">
                <div class="card-body">
                    <p class="card-title">{{ i.nombre_empresa }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
