{% extends 'employees/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}

{% block content %}
<h1>Bienvenido, {{user.username}}</h1>
<br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum animi sunt architecto nesciunt, sapiente molestias error cumque quia minus commodi est harum illum magnam molestiae corporis sint iste laudantium expedita.
<br><br>

<div class="d-flex justify-content-center">
    <img src="{% static 'employees/img/landing.svg' %}" alt="">
</div>

{% endblock content %}