{% extends 'employees/base.html' %}
{% block title %}Solicitud de productos{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<h1 class="text-center">Gestión de productos</h1>

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <h2>Modificar producto</h2>
            <br>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="btn btn-primary float-left">Guardar</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}