{% extends 'app/base.html' %}
{% block title %}Productos{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}

<h1 class="title">Productos en {{ familia.familia_producto }}</h1>

<div class="content-filters">
    <div class="filtros">
        <h2>Filtros</h2>
    
        <form method="GET">
            {{myFilter.form | crispy}}
            <button type="submit" class="btn btn-primary float-left">Filtrar</button>
        </form>
    </div>

    <div class="productos-parent">
    
        <div class="productos">
            {% for i in producto  %}
            <div class="container-producto">
                <a href="">
                    <div class="wrapper">
                        <img src="{{ i.imagen_url }}">
                        <div class="text-block">
                            <!--agregar marca-->
                            <h4>{{ i.producto }}</h4>
                            <h6>${{ i.precio }}</h4>
                        </div>
                    </div>
                </a>
            </div>
            
        {% endfor %}
        </div>

    </div>

</div>

{% endblock %}