{% extends 'app/base.html' %}
{% block title %}Productos{% endblock %}
{% load static %}

{% block contenido %}

<h1 class="title">Productos</h1>

<div class="productos">
    {% for i in familia_producto  %}
    <div class="container-producto-familia">
        <a href="{% url 'productos' i.id_familia_producto %}">
            <img src="{{ i.imagen_url }}">
        
            <div class="text-block">
                <h4>{{ i.familia_producto }}</h4>
            </div>
        </a>
    </div>
  {% endfor %}
</div>

{% endblock %}