{% extends 'app/base.html' %}
{% block title %}Productos{% endblock %}
{% load static %}

{% block contenido %}

<h1 class="title">Productos</h1>

<div class="productos">
    {% for i in familia_producto %}

    <div class="producto">

        <a href="{% url 'productos' i.id_familia_producto %}">
            <div class="producto-container">
                <img src="{{ i.imagen }}" >
                <h4 class="producto-title">{{ i.familia_producto }}</h4>
            </div>
        </a>
    </div>
    {% endfor %}

</div>

{% endblock %}