{% extends 'app/base.html' %}
{% block title %}Administrador{% endblock %}

{% block contenido %}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'admin_home' %}">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'admin_usuarios' %}">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'admin_productos' %}">Productos</a>
    </li>
</ul>

<br>



{% endblock %}