{% extends 'app/base.html' %}
{% block title %}Administrador{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'admin_home' %}">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'admin_usuarios' %}">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'admin_productos' %}">Productos</a>
    </li>
</ul>

<br>
<div class="card flex-wrap">
    <div class="admin-section flex-row">
        <div>
            <h2>Filtrar usuarios</h2>
            <form method="GET">
                {{ usuariosFiltered.form|crispy }}
                <br>
                <button type="submit" class="btn btn-primary float-left">Filtrar</button>
                <button class="btn btn-danger float-left">
                    <a type="submit" href="{% url 'admin_usuarios' %}">
                        Limpiar filtros
                    </a>
                </button>
            </form>
        </div>
    
        <div>
            <h2>Crear nuevo usuario</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                {{ profile_form|crispy }}            
                <input type="submit" value="Crear" class="btn btn-primary float-right">
            </form>
        </div>
    </div>
</div>

<br>

<div class="table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Usuario</th>
                <th scope="col">Email</th>
                <th scope="col">Opciones</th>
    
            </tr>
        </thead>
        <tbody>
            {% for i in usuarios %}
            <tr>
                <td>{{ i.rut_persona }}</td>
                <td>{{ i.usuario.first_name }} {{ i.usuario.last_name }}</td>
                <td>{{ i.celular }}</td>
                <td>{{ i.usuario }}</td>
                <td>{{ i.usuario.email }}</td>
    
                <td>
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Opciones
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Modificar</a></li>
                            <li><a class="dropdown-item" style="color: rgb(216, 0, 0);" href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
    
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>



{% endblock %}