{% extends 'app/base.html' %}
{% block title %}{{ familia.familia_producto }}{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}

<h1 class="title">Productos en {{ familia.familia_producto }}</h1>

<div class="flex-row">
    <div class="filtros">
        <h2>Filtros</h2>

        <form method="GET">
            {{ productosFiltered.form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary float-left">Filtrar</button>
            <button class="btn btn-danger float-left">
                <a href="{% url 'products' familia.id_familia_producto %}">Limpiar filtros</a>
            </button>
        </form>
    </div>

    <div class="productos-parent">
    
        <div class="flex-wrap">
            {% for i in productos  %}
            <div class="container-productos">
                <a href="{% url 'product' i.id_producto %}">
                    <div class="wrapper">
                        <img src="{{ i.imagen_url }}">
                        <div class="text-block">
                            <small class="font-weight-bold text-uppercase">Marca: {{ i.id_marca }}</small>
                            <h5 class="text-capitalize">{{ i.producto }}</h4>
                            <h6>${{ i.precio }}</h4>
                        </div>
                    </div>
                </a>
            </div>
            
        {% endfor %}
        </div>

    </div>

</div>

{% endblock %}