{% extends 'app/base.html' %}
{% block title %}{{ producto.producto }}{% endblock %}

{% block contenido %}

<div class="flex-row">
    <div class="producto-imagen">
        <img src="{{producto.imagen_url}}" alt="">
    </div>
    <div class="producto-text">
        <small class="font-weight-bold text-uppercase">Marca: {{ producto.id_marca }}</small>
        <h1 class="text-capitalize">{{ producto.producto }}</h4>
        <h5>En stock: {{ producto.stock }}</h5>

        <br>
        <h4 class="font-weight-bold">Descripción del producto:</h4>
        <p class="font-weight-normal">{{ producto.descripcion }}</p>
        <br>
        <h3>${{ producto.precio }}</h4>

        {% if user.is_authenticated %}        
        <br><br><br>
        <div class="flex-row">
            <label for="cantidad" class="col-form-label">Cantidad:</label>
            <input class="form-control" type="number" placeholder="1" name="cantidad" id="">
            <a href="#" class="btn btn-primary float-left">
                Agregar al carro
                <i class="bi bi-cart"></i>
            </a>
        </div>
        {% endif %}        
    </div>
</div>

{% endblock %}