{% extends 'app/base.html' %}
{% block title %}inicio{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function(){
      $('.slider').bxSlider({
          auto: true
      });
    });
</script>
{% endblock %}

{% block landing %}

<div class="landing">
    <h1 class="title-landing">FERME SERVICES</h1>
    <img src="{% static 'app/img/tools.png' %}" alt="">
    <a href="#nosotros" class="navigation-icons">
        <img src="{% static 'app/img/arrow-down.png' %}" alt="">
    </a>
</div>

{% endblock %}

{% block contenido %}

<br><br>


<h1 id="nosotros" class="title">Nosotros</h1>
<h5>Somos una empresa familiar con décadas de experiencia en el rubro Ferretero en la comuna de Puente Alto, con un amplio conocimiento del medio, conservando la atención de la ferretería tradicional de antaño, con modernos proceso acordes a nuestros tiempos, lo que hasta la fecha nos hace mantener altos estándares en atención personalizada a nuestros clientes.</h5>


<br><br>

<h1 class="title">Productos destacados</h1>
<div class="slider">
    {% for s in slider %}
    <div><img src="{{ s.imagen.url }}" alt="imagen"></div>
    {% endfor %}
</div>



{% endblock %}