{% extends 'app/base.html' %}
{% block title %}Inicio{% endblock %}

{% load static %}

{% block landing %}

<div class="landing">
    <h1 class="display-1 text-center">FERME SERVICES</h1>
    <img src="{% static 'app/img/landing.svg' %}" alt="">
    <a href="#productos">
        <i class="bi bi-arrow-down-circle-fill" style="font-size: 50px;"></i>
    </a>
</div>

{% endblock %}

{% block contenido %}

<br><br>

<h1 class="text-center" id="productos" >Productos</h1>
<div class="flex-wrap">
    {% for i in familia_producto %}
    <div class="categoria">
        <a href="{% url 'products' i.id_familia_producto %}">
            <img class="darken" src="{{ i.imagen_url }}">
        </a>
        <div class="text-block text-center">
            <h3>{{ i.familia_producto }}</h3>
        </div>
    </div>
    {% endfor %}
</div>

<br><br>

<h1 id="nosotros" class="text-center">Acerca de nosotros</h1>

<p>Somos una empresa familiar con décadas de experiencia en el rubro Ferretero en la comuna de Puente Alto,
    con un amplio conocimiento del medio, conservando la atención de la ferretería tradicional de antaño,
    con modernos proceso acordes a nuestros tiempos, lo que hasta la fecha nos hace mantener altos
    estándares en atención personalizada a nuestros clientes.</p>

{% endblock %}