* {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    width: 100%;
    height: 10vh;
    
    background: #5307D8;
    background: -webkit-linear-gradient(right, #5307D8, #7F02C7);
    background: -moz-linear-gradient(right, #5307D8, #7F02C7);
    background: linear-gradient(to left, #5307D8, #7F02C7);

    display: flex;
}

.card {
    border-radius: 10px;
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}

.bx-wrapper, .bx-viewport, .bx-wrapper img {
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

.btn-primary {
    background-color: #7F02C7;
    border-color: #7F02C7;
}
.btn-primary:hover {
    background-color: #5c0091;
    border-color: #5c0091;
}

.btn-danger {
    background-color: #e9385e;
    border-color: #e9385e;
}

.btn-danger:hover {
    background-color: #9b0d2b;
    border-color: #9b0d2b;
}

.custom-nav:hover {
    color: #ff3d67 !important;
}
    

body {
    background-color: #EDF2F7;
    font-family: 'Open Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
  
    body .card {
      background-color: #333333;
    }

    table th {
        color: #eee;
    }
    table td {
        color: #eee;
    }
  }

.title {
    text-align: center;
    margin-bottom: 20px;
}

.landing {
    height: 90vh;
    width: 100%;

    background: #5307D8;
    background: -webkit-linear-gradient(right, #5307D8, #7F02C7);
    background: -moz-linear-gradient(right, #5307D8, #7F02C7);
    background: linear-gradient(to left, #5307D8, #7F02C7);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-landing {
    color: white;
    font-size: 60px;
}

.navigation-icons {
    margin-top: 50px;
    height: 80px;
}

.landing img {
    margin-top: 50px;
    height: 50%;
}

.menu {
    width: 40px;
    position: absolute;
    left: 10px;
    top: 20px;
    display: none;
}

header > div {
    width: 50%;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav > ul {
    margin-right: 20px;
}


nav > ul > li {
    display: inline;
    margin-left: 10px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

#content {
    width: 80%;
    margin: 20px auto;
    max-width: 1280px;
    min-height: 100vh;
}

/*página familia productos*/
.productos {
    display: flex;
    flex-wrap: wrap;
}

.container-producto-familia {
    position: relative;
    padding: 0px 20px 20px 20px;
    width: 50%;
    height: 200px;
}

.container-producto-familia img {
    background-color: black;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
  
.container-producto-familia .text-block {
    position: absolute;
    background-color: black;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 20px 20px 20px 20px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/*página productos*/

.content-filters {
    display: flex;
    flex-direction: row;
}

.filtros {
    width: 25%;
    padding: 10px 10px 10px 10px;
    background-color: white;
}

.productos-parent {
    width: auto;
}

.container-producto {
    position: relative;
    padding: 0px 10px 10px 10px;
    width: 25%;
    height: 300px;
}

.container-producto .wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
}
.container-producto .wrapper img {
    background-color: black;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.container-producto .wrapper .text-block {
    margin-left: 10px;
    color: black;
}

/*end*/

.form-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

label.error {
    color: red;
}

input.error {
    border: 1px solid red;
}

/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    background-color: #1f1f1f;
    display: flex;
}

footer > div {
    width: 50%;
}


/* MEDIA QUERYS */
/* TABLET */

@media(max-width: 1024px) {
    .landing {
        flex-direction: column;
        align-items: center;
    }

    .landing img {
        height: 40%;
        object-fit: scale-down;
    }

    .map {
        flex-direction: column;
    }

    .map > div {
        width: 100%;
    }
    
    .map > .text {
        margin-left: 0;
    }

    .galeria {
        grid-template-columns: 1fr 1fr;
    }
}

/* SMARTPHONE */
@media(max-width: 480px) {

    .menu {
        display: block;
    }

    header {
        flex-direction: column;
        height: 80px;
        transition: all 0.8s;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow: hidden;
    }

    .slider img {
        height: 200px;
    }

    .title-landing {
        margin-top: 10px;
        text-align: center;
        font-size: large;
    }

    .landing img {
        height: 30%;
        object-fit: scale-down;
    }

    .title {
        text-align: center;
    }

    #content {
        margin-top: 80px;
    }

    header > div {
        width: 100%;
    }

    nav {
        justify-content: center;
    }

    .contenedor_logo {
        justify-content: center;
    }

    header .logo_container .logo {
        margin-top: 25px;
        margin-left: 60px;
    }

    nav > ul {
        margin: 0;
    }

    nav > ul > li {
        display: block;
        margin: 0;
        text-align: center;
        padding: 20px 0;
    }

    .container-producto-familia {
        width: 100%;
        height: 300px;
    }

    .container-producto-familia {
        width: 100%;
    }

    .reviews .review .review-container {
        flex-direction: column;
        justify-content: center;
    }

    .reviews .review .review-container img {
        height: 50px;
    }

    .review-title {
        width: 100%;
    }
    
    .review-text {
        width: 100%;
    }

    footer .nav-footer {
        width: 0;
    }

    footer nav {
        display: none;
    }

    footer .logo_footer {
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .map {
        flex-direction: column;
    }

    .map > div {
        width: 100%;
    }
    
    .map > .text {
        margin-left: 0;
    }

    .galeria {
        grid-template-columns: 1fr;
    }

    .button {
        margin: 30px 10px 30px 0;
        width: 120px;
    }  

    .form_buttons {
        display: flex;
        justify-content: center;
    }

}