* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button > a {
    color: white;
}

button > a:hover {
    color: inherit;
}

.card {
    border-radius: 10px;
    background-color: white;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    width: auto;
}

body {
    height: 100%;
    background-color: #EDF2F7;
    font-family: 'Open Sans', sans-serif;
}

.landing {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing img {
    height: 60%;
}


#content {
    width: 80%;
    margin: 20px auto;
    max-width: 1280px;
    min-height: 100vh;
}

/*página familia productos*/
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.categoria {
    position: relative;
    padding: 20px 20px 20px 20px;
    width: 50%;
    height: 250px;
    color: white;
}

.categoria .text-block {
    font-size: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.categoria img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.darken {
    filter: brightness(30%)
}

/*página productos*/
.productos-parent {
    width: 80%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.filtros {
    width: 25%;
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-radius: 10px;
    height: 100%;
}


.container-productos {
    position: relative;
    padding: 0px 10px 20px 10px;
    width: 25%;
    height: 320px;
}


.container-productos a {
    color: black;
}

.container-productos .wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.container-productos .wrapper img {
    background-color: black;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.container-productos .wrapper .text-block {
    padding: 10px 10px 10px 10px;
}

/*producto*/
.producto-imagen {
    margin-right: 50px;
    background-color: black;
    width: 40%;
    height: 500px;
}

.producto-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.producto-text {
    width: 50%;
}

.form-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

label.error {
    color: red;
}

input.error {
    border: 1px solid red;
}

/* ADMIN */
.admin-section {
    width: 100%;
}

.admin-section > div {
    width: 50%;
    padding: 50px 50px 50px 50px;
    height: 100%;
} 

/* MEDIA QUERYS */
/* TABLET */

@media(max-width: 1024px) {
    .landing {
        flex-direction: column;
        align-items: center;
    }

    .landing img {
        height: 40%;
        object-fit: scale-down;
    }

    .map {
        flex-direction: column;
    }

    .map > div {
        width: 100%;
    }
    
    .map > .text {
        margin-left: 0;
    }

    .galeria {
        grid-template-columns: 1fr 1fr;
    }
}

/* SMARTPHONE */
@media(max-width: 480px) {

    header {
        flex-direction: column;
        height: 80px;
        transition: all 0.8s;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow: hidden;
    }

    .slider img {
        height: 200px;
    }

    .landing img {
        height: 30%;
        object-fit: scale-down;
    }

    #content {
        margin-top: 80px;
    }

    .flex-row {
        flex-direction: column !important;
    }

    .admin-section > div {
        width: 100%;
    } 

    .filtros {
        width: 100%;
    }
    
    .productos-parent {
        width: 100%;
    }

    .container-productos {
        padding: 40px 0 0 0;
        width: 100%;
        height: 350px;
    }

    .categoria {
        width: 100%;
        height: 300px;
    }

    .categoria {
        width: 100%;
    }

    .map {
        flex-direction: column;
    }

    .map > div {
        width: 100%;
    }
    
    .map > .text {
        margin-left: 0;
    }

    .galeria {
        grid-template-columns: 1fr;
    }

    .button {
        margin: 30px 10px 30px 0;
        width: 120px;
    }  

    .form_buttons {
        display: flex;
        justify-content: center;
    }

}

/* Auto Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
  
    .card, .filtros, .container-productos .wrapper {
      background-color: #2b2b2b;
    }

    .table, .container-productos a, .form-label {
        color: white !important;
    }


    /*BOOTSTRAP NAVBAR*/
    .bg-light {
        background-color: #212529!important;
        color: white!important;
    }
    .navbar-brand, .nav-link, .dropdown-item {
        color: white!important;
    }
    .dropdown-menu {
        background-color: #212529!important;
    }
    .dropdown-item:hover{
        background-color: #3b4046!important;
    }
}