{% extends 'employees/base.html' %}
{% block title %}Admin categories{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">

            <h2>{{title}}</h2>
            <hr>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <a class="btn btn-secondary float-left" href="{% url 'categories' %}">Cancelar</a>
                <button type="submit" class="btn btn-primary float-left">Guardar</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}